<?xml version="1.0" encoding="utf-8" ?>
<UpConfig>
  <!--支持上传的图片扩展名-->
  <UpImage value=".gif|.jpg|.png|.bmp" />
    <!--支持上传的媒体扩展名-->
  <UpVedio value=".wmv|.rmvb|.avi|.wma" />
    <!--支持上传的flash扩展名-->
  <UpFlash value=".flv|.swf" />
    <!--支持上传的其他文件扩展名-->
  <UpOther value=".rar|.pdf|.doc" />
    <!--上传的路径-->
  <UpLoadPath value="UpLoad/"/>
</UpConfig>